{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
	<h1>List of students <a class="btn btn-primary" href="{{ path('student_add') }}"><i class="fa fa-plus-circle"></i></a></h1>

	<table class="table">
		<thead class="thead-dark">
	    <tr>
	    	<th>First name</th>
	    	<th>Last name</th>
	    	<th>Student number</th>
	    	<th>Department</th>
	    	<th>Actions</th>
	    </tr>
		</thead>
		<tbody>
	    {% for student in students %}
	        <tr>
	        	<td>{{ student.firstName }}</td>
	        	<td>{{ student.lastName }}</td>
	        	<td>{{ student.numEtud }}</td>
	        	<td>{{ student.department }}</td>
	        	<td><div class="btn-group btn-group-toggle">
	        		<a class="btn btn-info" href="{{ path('student_show', {'id': student.id}) }}"><i class="fa fa-eye"></i></a>
	        		<a class="btn btn-primary" href="{{ path('student_edit', {'id': student.id}) }}"><i class="fa fa-pencil-alt"></i></a>
	        		<a class="btn btn-danger" href="{{ path('student_delete', {'id': student.id}) }}"><i class="fa fa-trash"></i></a>
	        	</div></td>
	        </tr>
	    {% endfor %}
	    </tbody>
	</table>
</div>
{% endblock %}