{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
	<h1>Student details <a class="btn btn-primary" href="{{ path('student_index') }}"><i class="fa fa-angle-left"></i></a></h1>
	<p>First name: {{ student.firstName }}</p>
	<p>Last name: {{ student.lastName }}</p>
	<p>Student number: {{ student.numEtud }}</p>
	<p>Department: {{ student.department }}</p>
</div>
{% endblock %}